In [ ]:
import wbdata as wb
import pandas as pd

In [ ]:
wb.get_sources()
# our focus is 6 and 15

In [87]:
list_indicators = wb.get_indicators(source=6, query="balance")
list_indicators

id              name
--------------  ------------------------------------------
BN.CAB.XOKA.CD  Current account balance (BoP, current US$)

In [86]:
#countries = [i['id'] for i in wb.get_countries(incomelevel='HIC')]
indicators = {"NYGDPMKTPSAKD": "GDP", "BN.CAB.XOKA.CD": "current_account"}
df = wb.get_dataframe(indicators, parse_dates=True).reset_index()
df.describe()

                                date           GDP  current_account
count                          18634  3.158000e+03     7.339000e+03
mean   1992-07-30 07:46:45.581195648  3.439756e+06     4.025648e+08
min              1960-01-01 00:00:00  6.240538e+03    -9.715940e+11
25%              1977-01-01 00:00:00  6.352602e+04    -1.098123e+09
50%              1993-01-01 00:00:00  3.423720e+05    -1.573000e+08
75%              2008-01-01 00:00:00  1.967171e+06     7.520427e+07
max              2023-01-01 00:00:00  8.480789e+07     4.205685e+11
std                              NaN  9.335683e+06     4.238302e+10

In [88]:
df['ratio'] = df['current_account'] / df['GDP']
df_malaysia = df[df['country'].str.contains('Malaysia')]

df_malaysia.tail()

        country       date            GDP  current_account         ratio
10789  Malaysia 2019-01-01  387042.858392     1.279541e+10  33059.423031
10790  Malaysia 2020-01-01  365922.232733     1.413795e+10  38636.501142
10791  Malaysia 2021-01-01  377908.454167     1.449342e+10  38351.667742
10792  Malaysia 2022-01-01  410876.950615     1.227124e+10  29865.981493
10793  Malaysia 2023-01-01  210525.919332              NaN           NaN